<!DOCTYPE html>
<html>
<head>
  <title>RailsPivotTableJs</title>
  <%= stylesheet_link_tag    "rails_pivot_table_js/application", media: "all" %>
  <%= javascript_include_tag "rails_pivot_table_js/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
